{% extends 'base/base.html' %}
{% load staticfiles %}



{% block content %}
<section class="contenedor">
     <form class="cuadro2" method="post">
     	<center>
     	
     	<div class="cabecera" align="center">
        <h1>Locales</h1>
        <a class="btn btn-prymary" href="{% url 'cliente:localCrear'%}">Agregar local</a>
        </div>
        </center>
        <div class="cuerpo">
        <table class="table table-bordered">
			<thead>
				<tr>
					<td>No. local</td>
					<td>nombre</td>
					<td>ubicacion</td>
					<td>administrador</td>
					<td>acciones</td>
				
				</tr>	
			</thead>
		<tbody>
		{% if object_list %}
		{% for Local in object_list %}
		<tr>
			<td>{{Local.id}}</td>
			<td>{{Local.nombre}}</td>
			<td>{{Local.ubicacion}}</td>
			<td>{{Local.administrador}}</td>
			<td>
				<a class="btn btn-prymary" href="{% url 'cliente:localModificar' Local.id%}">Editar</a>
				<a class="btn btn-prymary" href="{% url 'cliente:localEliminar' Local.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No hay registros de solicitudes</h1>
		{% endif %}
		</tbody>
		</table>

		</div>
	</form>       
</section>

{% endblock %}

{% block footer %}

{% endblock %}	

