{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<section class="contenedor">
<form class="cuadro3" method="post">
<div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Tienda Frutos del llano</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Frutos rojos</a>
            <a href="#" class="list-group-item">Frutas tropicales</a>
            <a href="#" class="list-group-item">Frutas ácidas</a>
            <a href="#" class="list-group-item">Frutas dulces</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <img class="d-block img-fluid" align="center" src="{% static 'imagenes\c2.jpeg' %}" alt="First slide" width="700px" height="50px" >

          <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'imagenes\pera.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Pera</a>
                  </h4>
                  <h5>$0.0 proximamente</h5>
                  <p class="card-text">Local 203</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'imagenes\manzana.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Manzana</a>
                  </h4>
                  <h5>$0.0 proximamente</h5>
                  <p class="card-text">Local 201</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'imagenes\fresa.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Fresa</a>
                  </h4>
                  <h5>$0.0 proximamente</h5>
                  <p class="card-text">Local 201</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'imagenes\naranja.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Naranja</a>
                  </h4>
                  <h5>$0.0 proximamente</h5>
                  <p class="card-text">Local 204</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'imagenes\limon.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Limon</a>
                  </h4>
                  <h5>$0.0 proximamente</h5>
                  <p class="card-text">Local 204</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{% static 'imagenes\coco.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Coco</a>
                  </h4>
                  <h5>$0.0 proximamente</h5>
                  <p class="card-text">Local 201</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
      </form>       
</section>
    {% endblock %}	
    {% block footer %}

{% endblock %}  
