{% extends 'base/base.html' %}
{% load staticfiles %}



{% block content %}
<section class="contenedor">
     <form class="cuadro2" method="post">
     	<center>
     	
     	<div class="cabecera" align="center">
        <h1>Locales</h1>
        <a class="btn btn-prymary" href="{% url 'producto:productoCrear'%}">Agregar Producto</a>
        </div>
        </center>
        <div class="cuerpo">
        <table class="table table-bordered">
			<thead>
				<tr>
					<td>No. producto</td>
					<td>nombre</td>
					<td>descripcion</td>
					<td>precio</td>
					<td>cantidad</td>
					<td>local</td>
					<td>acciones</td>
				
				</tr>	
			</thead>
		<tbody>
		{% if object_list %}
		{% for Producto in object_list %}
		<tr>
			<td>{{Producto.id}}</td>
			<td>{{Producto.nombre}}</td>
			<td>{{Producto.descripcion}}</td>
			<td>{{Producto.precio}}</td>
			<td>{{Producto.cantidad}}</td>
			<td>{{Producto.Local.nombre}}</td>
			<td>
				<a class="btn btn-prymary" href="#">Editar</a>
				<a class="btn btn-prymary" href="#">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No hay registros de solicitudes</h1>
		{% endif %}
		</tbody>
		</table>

		</div>
	</form>       
</section>

{% endblock %}

{% block footer %}

{% endblock %}	

